@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
}

/* //////////////////////////////////////////// */
/* LAYOUT */
/* //////////////////////////////////////////// */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 60vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}
/* //////////////////////////////////////////// */
/* ELEMENTS STYLE */
/* //////////////////////////////////////////// */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* //////////////////////////////////////////// */
/* FOOTER */
/* //////////////////////////////////////////// */
.footer__signature {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  font-size: 1.4rem;
  font-weight: 500;
  color: #555;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  margin: 0 0.2rem 0 0.8rem;
  height: 2.5rem;
  width: 2.5rem;
}

/* //////////////////////////////////////////// */
/* RULES OVERLAY */
/* //////////////////////////////////////////// */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: all 0.5s;

  z-index: 1;
}

/* //////////////////////////////////////////// */
/* RULES */
/* //////////////////////////////////////////// */
.rules__container {
  height: 75%;
  width: 60%;
  margin: 0 auto;

  position: absolute;
  left: 20%;
  transform: translateY(-120%);

  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  background-image: linear-gradient(to bottom right, #555454 0%, #000000 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.6rem;

  color: #ccc;
}

.rules__heading {
  font-size: 4.8rem;
  padding-bottom: 3.2rem;
}

.btn--acknowledge {
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to bottom right, #3b3b3b 0%, #000000 100%);
  color: #bbb;
  font-size: 2rem;
  font-family: inherit;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}

.btn--acknowledge::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--acknowledge:active {
  transform: translateY(10%);
}

.btn--acknowledge:focus {
  outline: none;
}

/* //////////////////////////////////////////// */
/* HIDDEN */
/* //////////////////////////////////////////// */
.hidden {
  display: none;
}
